@import url("https://fonts.googleapis.com/css2?family=Alata&family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Alegreya:ital,wght@0,400..900;1,400..900&family=Anton&family=Contrail+One&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Days+One&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Manrope:wght@200..800&family=Nanum+Myeongjo&family=Outfit:wght@100..900&display=swap");
/* Reset some default browser styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Set up base font and background */
html,
body {
  height: 100%;
  font-family: "Outfit", sans-serif;
  background-color: #f2f1ed;
}

::placeholder {
  font-family: "Outfit", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #7b7b7b;
  border-radius: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== SCROLL TO TOP COMPONENT ===============*/

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 18px;
  background-color: #3a0834; /* Button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.scroll-to-top:hover {
  opacity: 1;
}

/*=============== WHATSAAP COMPONENT ===============*/
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}

.whatsapp-button img {
  width: 28px;
  height: 28px;
}
